@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.errorBlock{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lensePic > img {
    width: 92px;
    height: 92px;
    margin-bottom: 24px;
}